<div class="matchfield">
  <div class="field-row">
    <tt-field class="field" [id]="0"></tt-field>
    <tt-field class="field" [id]="1"></tt-field>
    <tt-field class="field" [id]="2"></tt-field>
  </div>
  <div class="field-row">
    <tt-field class="field" [id]="3"></tt-field>
    <tt-field class="field" [id]="4"></tt-field>
    <tt-field class="field" [id]="5"></tt-field>
  </div>
  <div class="field-row">
    <tt-field class="field" [id]="6"></tt-field>
    <tt-field class="field" [id]="7"></tt-field>
    <tt-field class="field" [id]="8"></tt-field>
  </div>
</div>

<tt-gamecontrols></tt-gamecontrols>
