<table class="matchfield-table" [@winAnimation]="isWon() | async">
  <tr class="table-row">
    <tt-field class="table-column" [id]="0"></tt-field>
    <tt-field class="table-column" [id]="1"></tt-field>
    <tt-field class="table-column" [id]="2"></tt-field>
  </tr>
  <tr class="table-row">
    <tt-field class="table-column" [id]="3"></tt-field>
    <tt-field class="table-column" [id]="4"></tt-field>
    <tt-field class="table-column" [id]="5"></tt-field>
  </tr>
  <tr class="table-row">
    <tt-field class="table-column" [id]="6"></tt-field>
    <tt-field class="table-column" [id]="7"></tt-field>
    <tt-field class="table-column" [id]="8"></tt-field>
  </tr>
</table>

<tt-gamecontrols></tt-gamecontrols>
